:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --danger-color: #dc3545;
    --light-color: #e0e0e0;
    --dark-color: #343a40;
    --background-color: #f0f0f0;
    --button-hover-color: #d0d0d0;
    --button-transition: background-color 0.3s ease-out;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
    --primary-color: #1857ad;
    --secondary-color: #333;
    --danger-color: #b02f2f;
    --light-color: #666;
    --dark-color: #ccc;
    --background-color: #222;
    --button-hover-color: #555;
    --shadow-color: rgba(100, 100, 100, 0.2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.3s;
}

#theme-toggle:hover {
    transform: scale(1.2);
}

.calculator {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.display {
    margin-bottom: 20px;
    color: var(--dark-color);
}

#result {
    width: 100%;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    border: none;
    background-color: var(--light-color);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--dark-color);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    color: var(--dark-color);
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: var(--light-color);
    cursor: pointer;
    transition: var(--button-transition);
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.btn.mod {
    background-color: var(--secondary-color);
    color: white;
}

.btn.mod:hover {
    background-color: var(--dark-color);
}

.btn.enter {
    background-color: var(--primary-color);
    color: white;
    /* grid-column: span 2; */	
}

.btn.enter:hover {
    background-color: var(--dark-color);
}

.btn.clear {
    background-color: var(--danger-color);
    color: white;
}

.btn.clear:hover {
    background-color: var(--dark-color);
}

.btn.plus {
    background-color: var(--secondary-color);
    color: white;
}

.btn.plus:hover {
    background-color: var(--dark-color);
}

.red-glow {
    border: 2px solid var(--danger-color);
    box-shadow: 0 0 8px var(--danger-color);
}